#sidebar {
  /*background-color: #aaa;*/
  padding : 10px;
}

#content {
  /*background-color: #bbb;*/
  padding: 10px;
}

#actionbutton {
  border-radius: 20%;
}

#button {
  margin-top: 5px;
}

#input {
  /*border-radius: 5px;
  margin-bottom: 5px;*/
  margin-top: 5px;
}

#song {
  margin-bottom: 5px;
  margin-top: 5px;
}

.img-circle {
    border-radius: 50%;
}

.loggedin {
    padding-top: 10px;
}

a{
    text-decoration:none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 10px;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 800px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
    width: 13%;
}

/* Middle column */
.column.middle {
    width: 87%;
}

/* Clear floats after the columns */
/*.row:after {
    content: "";
    display: table;
    clear: both;
}*/

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    height: 50px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
